@page "/property"
@rendermode InteractiveServer

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Property</PageTitle>




<!--#HEAD -->
<div class="row">
    <div class="col-8">
        <h1>Property List</h1>
    </div>

    <div class="col text-end hideWhenPrint">
        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#addPropertyModal"> <i class="bi bi-plus-lg"></i> Add</button>
        <button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#delPropertyModal"> <i class="bi bi-clock-history"></i> Recently Deleted</button>
        <button class="btn btn-danger" @onclick="Print"><i class="bi bi-filetype-pdf"></i></button>
        <button class="btn btn-success" @onclick="ExportToExcel"><i class="bi bi-filetype-xlsx"></i></button>
    </div>
</div>

<div class="row mb-3 justify-content-end hideWhenPrint">
    <div class="col-3">
        <div class="input-group">
            <InputFile OnChange="HandleFileChange" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" class="form-control" />
            <button class="btn btn-outline-success" type="button" id="inputGroupFileAddon04" @onclick="ImportProperties">Import</button>
        </div>
    </div>
</div>




<!--#GENERAL RADIO -->
<div class="btn-group hideWhenPrint" role="group" aria-label="General Radio Group">
    <input type="radio" class="btn-check" name="gbtnradio" id="all" autocomplete="off" checked @onclick="ShowButtonALL">
    <label class="btn btn-secondary" for="all">All</label>

    <input type="radio" class="btn-check" name="gbtnradio" id="rpcsp" autocomplete="off" @onclick="ShowButtonRPCSP">
    <label class="btn btn-secondary" for="rpcsp">RPCSP</label>

    <input type="radio" class="btn-check" name="gbtnradio" id="rpcppe" autocomplete="off" @onclick="ShowButtonRPCPPE">
    <label class="btn btn-secondary" for="rpcppe">RPCPPE</label>
</div>


<!--# RADIO -->
<div class="row hideWhenPrint">
    <div class="btn-group my-2" id="buttonRPCSP" role="group" aria-label="Basic radio toggle button group">

        <div class="me-1" style="display: @buttonRPCSPDisplay">

            <div style="display: @buttonRPCSPALLDisplay">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio0" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio0">All</label>
            </div>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
            <label class="btn btn-outline-primary" @onclick="buttonRPCSPAIT" for="btnradio1">IT</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-primary" @onclick="buttonRPCSPAFF" for="btnradio2">Furniture & Fixtures</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
            <label class="btn btn-outline-primary" @onclick="buttonRPCSPAcomm" for="btnradio3">Communication</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
            <label class="btn btn-outline-primary" @onclick="buttonRPCSPAbook" for="btnradio4">Books</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
            <label class="btn btn-outline-primary" @onclick="buttonRPCSPAspts" for="btnradio5">Sports</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio9" autocomplete="off">
            <label class="btn btn-outline-primary" @onclick="buttonRPCSPAothrs" for="btnradio9">Others</label>
        </div>


        <div style="display: @buttonRPCPPEDisplay">

            <div style="display: @buttonRPCPPEALLDisplay">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio10" autocomplete="off">
                <label class="btn btn-outline-warning" for="btnradio10">All</label>
            </div>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off">
            <label class="btn btn-outline-warning" @onclick="buttonRPCPPEoffice" for="btnradio6">Office Equipment</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio7" autocomplete="off">
            <label class="btn btn-outline-warning" @onclick="buttonRPCPPEequip" for="btnradio7">It Equipment</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio8" autocomplete="off">
            <label class="btn btn-outline-warning" @onclick="buttonRPCPPEmtr" for="btnradio8">Motor Vehicles</label>
        </div>
    </div>
</div>

<!--SEARCH-->
<input type="text" class="form-control mb-2 hideWhenPrint rounded-pill custom-shadow" @bind-value="PropertySearchInput" @oninput="GetPropertyList" aria-label="Search Product" placeholder="Search a property..."/>

<!--# TABLE -->
<table class="table table-hover table-bordered table-sm">
    <thead class="small align-middle bg-light">
        <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">Article</th>
            <th scope="col">Description</th>
            <th scope="col" style="min-width: 10rem;">Property No.</th>
            <th scope="col" style="max-width: 4rem;">Unit of Measure</th>
            <th scope="col">Unit Value (₱)</th>
            <th scope="col" colspan="2" style="width: 8rem;">Per Card <br> Balance || On Hand</th>
            <th scope="col">Year Acquired</th>
            <th scope="col" style="max-width: 8rem;">Status</th>
            <th scope="col" class="hideWhenPrint">Action</th>
        </tr>
    </thead>

    <tbody>
        @if (isLoading)
        {
            <tr>
                <td colspan="5" class="text-center">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </td>
            </tr>
        }
        else
        {
            @foreach (var item in PropertyList)
            {
                if (item.IsRemoved == false)
                {
                    // Determine if the item has remarks
                    bool hasRemarks = !string.IsNullOrEmpty(item.propRemarks);

                    // Apply a different color class if the item has remarks
                    string rowClass = hasRemarks ? "table-primary" : "";

                    <tr class="@rowClass">
                        <th scope="row">@item.ID</th>
                        <td>@item.propArticle</td>
                        <td class="text-truncate" style="max-width: 10rem;" title="@item.propDescription">@item.propDescription</td>
                        <td>@item.propPropertyNo</td>
                        <td>@item.propUnitOfMeasure</td>
                        <td>@item.propUnitValue</td>
                        <td colspan="2" class="text-center">
                            @item.propBalancePerCardQty &nbsp;&nbsp;||&nbsp;&nbsp; @item.propOnHandPerCardQty
                        </td>
                        <td>@item.propYrAcquired</td>
                        <td>@item.propStatus</td>

                        <td class="text-center d-flex justify-content-around hideWhenPrint">
                            <i class="bi bi-pencil-square text-primary hideWhenPrint px-1" title="Edit Item"
                               tabindex="0" data-bs-toggle="modal"
                               data-bs-target="#editItem" @onclick='() => PopulateEdit(item.ID)'>
                            </i>

                            <i class="bi bi-trash3 text-danger hideWhenPrint px-1" title="Remove Item"
                               tabindex="0" data-bs-toggle="modal"
                               data-bs-target="#removeItem" @onclick='() => PopulateProperty(item.ID)'>
                            </i>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>

</table>







<!----------------------------
          MODALS
----------------------------->
<!--#ADD Modal-->
<div class="modal fade mt-4" id="addPropertyModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="addSupplyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPropertyModalLabel">Add Property</h5>
                <button type="button" class="btn-close" @onclick="Dismiss" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form @onsubmit="Add">
                <div class="modal-body">
                    <div class="row justify-content-center">
                        <div class="col-md-11">
                            <!-- Adjust the column size as needed -->
                            <div class="border border-2 rounded shadow p-3 my-3">
                                <label class="pb-3">Property Details</label>

                                <div class="row">
                                    <!-- Row wrapper -->
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" @bind="SelectedProperty.propArticle" list="propList" autocomplete="PropertyArticle" aria-required="true" placeholder="Article..." required />
                                                    <datalist id="propList">
                                                        @foreach (var article in PropertyList.Select(p => p.propArticle).Distinct())
                                                        {
                                                            <option value="@article"></option>
                                                        }
                                                    </datalist>
                                                    <label for="PropertyArticle" class="form-label text-muted">Article</label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" list="datalistOptions" @bind="SelectedProperty.propStatus" autocomplete="PropertyArticle" aria-required="true" placeholder="Article..." required />
                                                    <datalist id="datalistOptions">
                                                        <option value="SERVICABLE"></option>
                                                        <option value="UNSERVICABLE"></option>
                                                    </datalist>
                                                    <label for="PropertyArticle" class="form-label text-muted">Status</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" @bind="SelectedProperty.propPropertyNo" autocomplete="PropertyPropertyNo" aria-required="true" placeholder="Property No..." required />
                                                    <label for="PropertyPropertyNo" class="form-label text-muted">Property No.</label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" @bind="SelectedProperty.category" list="datalistCategory" autocomplete="Propertycategory" aria-required="true" placeholder="category..." required />
                                                    <datalist id="datalistCategory">
                                                        <option value="IT"></option>
                                                        <option value="Furniture & Fixtures"></option>
                                                        <option value="Communication"></option>
                                                        <option value="Books"></option>
                                                        <option value="Sports"></option>
                                                        <option value="Office Equipment"></option>
                                                        <option value="IT Equipment"></option>
                                                        <option value="Motor Vehicles"></option>
                                                        <option value="Others"></option>
                                                    </datalist>
                                                    <label for="Propertycategory" class="form-label text-muted">Category</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="border border-5 rounded p-2">
                                            <label class="pb-3">Year Acquired</label>
                                            <div class="form-floating mb-3">
                                                <input type="date" @bind="SelectedProperty.propYrAcquired" class="form-control" required />
                                                <label for="date" class="form-label text-muted">Start Date</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <!-- Row wrapper -->
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <textarea type="text" class="form-control" @bind="SelectedProperty.propDescription" autocomplete="PropertyDescription" style="height: 5rem" aria-required="true" placeholder="Description..." required />
                                            <label for="PropertyDescription" class="form-label text-muted">Description</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-11">
                            <div class="row">
                                <!-- Row wrapper -->
                                <div class="col">
                                    <div class="border border-2 rounded shadow p-3 my-3">
                                        <label class="pb-3">Quantity </label>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" @bind="SelectedProperty.propUnitOfMeasure" list="dataListMeasure" autocomplete="PropertyUnitOfMeasure" aria-required="true" placeholder="Unit of Measure..." required />
                                                    <datalist id="dataListMeasure">
                                                        <option value="EA"></option>
                                                        <option value="PC"></option>
                                                        <option value="UNIT"></option>
                                                        <option value="SET"></option>
                                                    </datalist>
                                                    <label for="PropertyUnitOfMeasure" class="form-label text-muted">Unit of Measure</label>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <input id="PropertyBalancePerCard" type="number" class="form-control" @bind="SelectedProperty.propBalancePerCardQty" autocomplete="PropertyBalancePerCard" aria-required="true" placeholder="Balance Per Card..." required />
                                                    <label for="PropertyBalancePerCard" class="form-label text-muted">Balance Per Card</label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <input id="PropertyUnitValue" type="number" class="form-control" @bind="SelectedProperty.propUnitValue" step="0.01" autocomplete="PropertyUnitValue" aria-required="true" placeholder="Unit Value..." required/>
                                                    <label for="PropertyUnitValue" class="form-label text-muted">Unit Value</label>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <input id="PropertyOnHandPerCard" type="number" class="form-control" @bind="SelectedProperty.propOnHandPerCardQty" autocomplete="PropertyOnHandPerCard" aria-required="true" placeholder="On Hand Per Card..." required />
                                                    <label for="PropertyOnHandPerCard" class="form-label text-muted">On Hand Per Card</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col" hidden>
                                    <div class="border border-warning rounded shadow p-3 my-3">
                                        <label class="pb-3">Missing <small class="text-muted">Leave blank if N/A </small></label>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <input type="number" class="form-control" @bind="SelectedProperty.propShortageOverageQty" autocomplete="PropertyShortageOverageQty" aria-required="true" placeholder="Shortage/Overage Quantity..." disabled />
                                                    <label for="PropertyShortageOverageQty" class="form-label text-muted">Shortage/Overage Quantity</label>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <input type="number" class="form-control" @bind="SelectedProperty.propShortageOverageValue" autocomplete="PropertyShortageOverageValue" aria-required="true" placeholder="Shortage/Overage Value..." disabled />
                                                    <label for="PropertyShortageOverageValue" class="form-label text-muted">Shortage/Overage Value</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-11" hidden>
                            <div class="row">
                                <!-- Row wrapper -->
                                <div class="col">
                                    <div class="border border-2 rounded shadow p-3 my-3">
                                        <label class="pb-3">Remarks </label>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <input type="number" class="form-control" @bind="SelectedProperty.propRemarks" autocomplete="PropertyRemarks" aria-required="true" placeholder="Remarks..." disabled/>
                                                    <label for="PropertyRemarks" class="form-label text-muted">Remarks</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="Dismiss">Close</button>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!--#EDIT Modal-->
<div class="modal fade mt-4" id="editItem" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="addSupplyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPropertyModalLabel">Edit Property</h5>
                <button type="button" class="btn-close" @onclick="Dismiss" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-md-11">
                        <!-- Adjust the column size as needed -->
                        <div class="border border-2 rounded shadow p-3 my-3">
                            <label class="pb-3">Property Details</label>

                            <div class="row">
                                <!-- Row wrapper -->
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" @bind="SelectedProperty.propArticle" list="propList" autocomplete="PropertyArticle" aria-required="true" placeholder="Article..." required />
                                                <datalist id="propList">
                                                    @foreach (var article in PropertyList)
                                                    {
                                                        <option value="@article.propArticle"></option>
                                                    }
                                                </datalist>
                                                <label for="PropertyArticle" class="form-label text-muted">Article</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" list="datalistOptions" id="DataList" @bind="SelectedProperty.propStatus" autocomplete="PropertyArticle" aria-required="true" placeholder="Article..." required />
                                                <datalist id="datalistOptions">
                                                    <option value="SERVICABLE"></option>
                                                    <option value="UNSERVICABLE"></option>
                                                </datalist>
                                                <label for="PropertyArticle" class="form-label text-muted">Status</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" @bind="SelectedProperty.propPropertyNo" autocomplete="PropertyPropertyNo" aria-required="true" placeholder="Property No..." required />
                                                <label for="PropertyPropertyNo" class="form-label text-muted">Property No.</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" @bind="SelectedProperty.category" list="datalistCategory" autocomplete="Propertycategory" aria-required="true" placeholder="category..." required />
                                                <datalist id="datalistCategory">
                                                    <option value="IT"></option>
                                                    <option value="Furniture & Fixtures"></option>
                                                    <option value="Communication"></option>
                                                    <option value="Books"></option>
                                                    <option value="Sports"></option>
                                                    <option value="Office Equipment"></option>
                                                    <option value="IT Equipment"></option>
                                                    <option value="Motor Vehicles"></option>
                                                    <option value="Others"></option>
                                                </datalist>
                                                <label for="Propertycategory" class="form-label text-muted">Category</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="border border-5 rounded p-2">
                                        <label class="pb-3">Year Acquired</label>
                                        <div class="form-floating mb-3">
                                            <input type="date" @bind="SelectedProperty.propYrAcquired" class="form-control" required />
                                            <label for="date" class="form-label text-muted">Start Date</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <!-- Row wrapper -->
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <textarea type="text" class="form-control" @bind="SelectedProperty.propDescription" autocomplete="PropertyDescription" style="height: 5rem" aria-required="true" placeholder="Description..." required />
                                        <label for="PropertyDescription" class="form-label text-muted">Description</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-11">
                        <div class="row">
                            <!-- Row wrapper -->
                            <div class="col">
                                <div class="border border-2 rounded shadow p-3 my-3">
                                    <label class="pb-3">Quantity </label>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" @bind="SelectedProperty.propUnitOfMeasure" autocomplete="PropertyUnitOfMeasure" aria-required="true" placeholder="Unit of Measure..." />
                                                <label for="PropertyUnitOfMeasure" class="form-label text-muted">Unit of Measure</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input id="PropertyBalancePerCard" type="number" class="form-control" @bind="SelectedProperty.propBalancePerCardQty" autocomplete="PropertyBalancePerCard" aria-required="true" placeholder="Balance Per Card..." required />
                                                <label for="PropertyBalancePerCard" class="form-label text-muted">Balance Per Card</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-floating mb-3">
                                                <input id="PropertyUnitValue" type="number" class="form-control" @bind="SelectedProperty.propUnitValue" autocomplete="PropertyUnitValue" aria-required="true" placeholder="Unit Value..." required />
                                                <label for="PropertyUnitValue" class="form-label text-muted">Unit Value</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input id="PropertyOnHandPerCard" type="number" class="form-control" @bind="SelectedProperty.propOnHandPerCardQty" autocomplete="PropertyOnHandPerCard" aria-required="true" placeholder="On Hand Per Card..." required />
                                                <label for="PropertyOnHandPerCard" class="form-label text-muted">On Hand Per Card</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                            <div class="border border-warning rounded shadow p-3 my-3">
                            <label class="pb-3">Missing <small class="text-muted">Leave blank if N/A </small></label>
                            <div class="row">
                            <div class="col">
                            <div class="form-floating mb-3">
                            <input type="number" class="form-control" @bind="SelectedProperty.propShortageOverageQty" autocomplete="PropertyShortageOverageQty" aria-required="true" placeholder="Shortage/Overage Quantity..." />
                            <label for="PropertyShortageOverageQty" class="form-label text-muted">Shortage/Overage Quantity</label>
                            </div>
                            <div class="form-floating mb-3">
                            <input type="number" class="form-control" @bind="SelectedProperty.propShortageOverageValue" autocomplete="PropertyShortageOverageValue" aria-required="true" placeholder="Shortage/Overage Value..." />
                            <label for="PropertyShortageOverageValue" class="form-label text-muted">Shortage/Overage Value</label>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-11" hidden>
                        <div class="row">
                            <!-- Row wrapper -->
                            <div class="col">
                                <div class="border border-2 rounded shadow p-3 my-3">
                                    <label class="pb-3">Remarks </label>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-floating mb-3">
                                                <input type="number" class="form-control" @bind="SelectedProperty.propRemarks" autocomplete="PropertyRemarks" aria-required="true" placeholder="Remarks..." />
                                                <label for="PropertyRemarks" class="form-label text-muted">Remarks</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="Dismiss">Close</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" @onclick="Edit">Save Changes</button>
            </div>
        </div>
    </div>
</div>


<!-- #REMOVE Modal -->
<div class="modal fade mt-4" id="removeItem" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-dark">
                <h5 class="modal-title" id="exampleModalLabel">Remove Supply</h5>
                <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close" @onclick='Dismiss'></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <span class="fw-bold">ID:</span> @SelectedProperty.ID
                </div>
                <div>
                    <span class="fw-bold">Name:</span> @SelectedProperty.propPropertyNo
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @onclick='Dismiss' data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" @onclick='Remove' data-bs-dismiss="modal">Confirm Removal</button>
            </div>
        </div>
    </div>
</div>


<!-- #RECENTLY DELETED MODAL -->
<div class="modal fade" id="delPropertyModal" tabindex="-1" aria-labelledby="delEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEmployeeModalLabel">Recently Deleted Property</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick='Dismiss'></button>
            </div>
            <div class="modal-body">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Article.</th>
                            <th scope="col">PropNo.</th>
                            <th scope="col" class="text-center">Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in PropertyList)
                        {
                            if (item.IsRemoved == true)
                            {
                                <tr>
                                    <th scope="row">@item.ID</th>
                                    <td>@item.propArticle</td>
                                    <td>@item.propPropertyNo</td>
                                    <td class="text-center d-flex justify-content-around">
                                        <i class="bi bi-arrow-repeat text-primary cursor-pointer" title="Restore Item"
                                           tabindex="0" data-bs-toggle=""
                                           data-bs-target="" @onclick='() => Merge(item.ID)'>
                                        </i>

                                        <i class="bi bi-trash3 text-danger cursor-pointer" title="Remove Item"
                                           tabindex="0" data-bs-toggle="modal"
                                           data-bs-target="#removeItem" @onclick='() => PopulateProperty(item.ID)'>
                                        </i>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick='Dismiss'>Close</button>
            </div>
        </div>
    </div>
</div>